.loginRegisterContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    position: fixed;
    top: 0;
    left: 0;
}
  
.loginRegisterBox {
    background-color: white;
    width: 30vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
}

.loginRegisterToggle {
    display: flex;
    padding-top: 1vmax;
}

.loginRegisterToggle > p {
    color: rgba(0, 0, 0, 0.678);
    font: 600 1vmax "Montserrat";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}

.loginRegisterToggle > p:hover {
    color: tomato;
}
  
.loginRegisterBox > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}
  
.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s;
}
  
.registerForm {
    transform: translateY(-100%) translateX(-100vmax);
}
  
.loginForm > div,
.registerForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.loginForm > div > input,
.registerForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 600 0.9vmax "Montserrat";
    outline: none;
}
  
.loginForm > div > svg,
.registerForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}
  
.loginForm > a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    transition: all 0.5s;
    font: 600 0.8vmax "Montserrat";
}
  
.loginForm > a:hover {
    color: black;
}

.loginBtn,
.registerBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 600 0.9vmax "Montserrat";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginBtn:hover,
.registerBtn:hover {
    background-color: rgb(179, 66, 46);
}

.shiftToLeft {
    transform: translateX(-100%);
}
.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
     transform: translateX(100%);
}

#registerImage > img {
    width: 2.5vmax;
    padding-right: 1vmax;
}

#registerImage > input {
    display: flex;
    padding: 0%;
}
  
#registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 600 0.8vmax "Montserrat";
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
}
  
#registerImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
}

@media screen and (max-width: 600px) {
    .loginRegisterBox {
        width: 60vw;
        height: 50vh;
    }

    .loginRegisterToggle {
        padding-top: 2vmax;
    }

    .loginRegisterToggle > p {
        font-size: 1.75vmax;
    }

    .loginForm,
    .registerForm {
        height: 80%;
    }

    .loginForm > div > input,
    .registerForm > div > input {
        font-size: 1.5vmax;
    }

    .loginBtn,
    .registerBtn {
        font-size: 1.75vmax;
        width: 75%;
    }

    #registerImage > input::file-selector-button {
        font-size: 1.5vmax;
        height: 3vh;
    }

    span {
        font-size: 1.25vmax;
    }
    
}