#footer {
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat";
    margin-top: 9vmax;
    color: white;
    font-weight: 600;
    background-color: rgb(34, 33, 33);
}

.leftFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.midFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightFooter > a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 0.25vmax;
}