.productDetails {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    padding: 8vmax;
    box-sizing: border-box;
    display: flex;
    margin-top: 3vmax;
}

.productDetails > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
}

.productDetails > div:first-child {
    text-align: center;
}


.productDetails > div:last-child {
    align-items: flex-start;
} 
  
.carouselImage {
    width: 20vmax;
} 

.detailsBlock_1 > h2 {
    color: #222831;
    font: 600 2vmax "Montserrat";
}
  
.detailsBlock_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.detailsBlock_2_span {
    font: 600 1.1vmax "Montserrat";
    padding-left: 0.25vmax;
    color: rgba(0, 0, 0, 0.699) ;
}
  
.detailsBlock_3 {
    width: 70%;
}
  
.detailsBlock_3 > h1 {
    color: rgba(17, 17, 17, 0.795);
    font: 700 1.8vmax "Montserrat";
    margin: 1vmax 0;
}

.detailsBlock_3_1 {
    display: flex;
    align-items: center;
}
  
.detailsBlock_3_1_1 > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.4vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.detailsBlock_3_1_1 > button:hover {
    background-color: rgba(0, 0, 0, 0.767);
}
  
.detailsBlock_3_1_1 > input {
    border: none;
    padding: 1vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    font: 600 1vmax "Montserrat";
    color: rgba(0, 0, 0, 0.74);
}
  
.detailsBlock_3_1 > button:last-child {
    border: none;
    cursor: pointer;
    color: #EDEDED;
    transition: all 0.5s;
    background-color: #DA0037;
    font: 600 1vmax "Montserrat";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
}
  
.detailsBlock_3_1 > button:last-child:hover {
    background-color: #444444;
}
  
.detailsBlock_3 > p {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: rgba(0, 0, 0, 0.651);
    font: 600 1vmax "Montserrat";
    margin: 0.75vmax 0;
}
  
.detailsBlock_4 {
    color: rgba(0, 0, 0, 0.897);
    font: 700 1.5vmax "Montserrat";
}
  
.detailsBlock_4 > p {
    color: #444444;
    padding-top: 0.75vmax;
    padding-bottom: 0.75vmax;
    font: 600 1vmax "Montserrat";
}

.submitReview {
    border: none;
    cursor: pointer;
    color: #EDEDED;
    transition: all 0.5s;
    background-color: #DA0037;
    font: 600 1vmax "Montserrat";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
}

.submitReview:hover {
    background-color: #444444;
    transform: scale(1.1);
}

.submitDialog {
    display: flex;
    flex-direction: column;
}

.submitDialogTitle {
    text-align: center;
}

.submitDialogRating {
    align-self: center;
}

.submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 500 1rem "Montserrat";
}

.reviewsHeading {
    text-align: center;
    font-family: "Montserrat";
    font-size: 2vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

.reviews {
    display: flex;
    overflow: scroll;
}

.noReviews {
    font: 600 1.5vmax "Montserrat";
    text-align: center;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .productDetails {
        margin-top: 5vmax;
        flex-direction: column;
        height: unset;
        padding: 4vmax;
    }
  
    .productDetails > div:last-child {
        align-items: center;
    }
  
    .detailsBlock_1 > h2 {
        font-size: 2.25vmax;
        text-align: center;
    }
  
    .detailsBlock_2 {
        justify-content: center;
    }

    .detailsBlock_2_span {
        font-size: 1.5vmax;
    }
  
    .detailsBlock_3 > h1 {
        font: 700 3vmax "Montserrat";
        text-align: center;
    }
  
    .detailsBlock_3_1 {
        flex-direction: column;
    }
  
    .detailsBlock_3_1_1 {
        padding: 2vmax 0;
    }

    .detailsBlock_3_1_1 > button {
        padding: 1vmax;
        width: 3vmax;
    }
  
    .detailsBlock_3_1_1 > input {
        padding: 1.5vmax;
        width: 3vmax;
        font: 600 1.8vmax "Montserrat";
    }
  
    .detailsBlock_3_1 > button:last-child {
        font: 600 1.7vmax "Montserrat";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }
  
    .detailsBlock_3 > p {
        padding: 2vmax 0;
        text-align: center;
        font: 600 1.5vmax "Montserrat";
    }
  
    .detailsBlock_4 {
        padding-top: 2vmax;
        font: 600 2vmax "Montserrat";
        text-align: center;
    }
  
    .detailsBlock_4 > p {
        font: 600 1.5vmax "Montserrat";
    }
  
    .submitReview {
        font: 600 1.7vmax "Montserrat";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }
  
    .reviewCard > p {
        font: 600 3vw "Montserrat";
    }

    .reviewCardComment {
        font: 300 4vw "Montserrat";
    }
}