.productsHeader {
    font: 600 2vmax "Montserrat";
    text-align: center;
    margin: 5vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 1vmax;
}

.products {
    width: 75%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    min-height: 30vh;
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 5vmax;
}
  
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}
  
.page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1vmax 2vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-item:first-child {
    border-radius: 5px 0 0 5px;
}
  
.page-item:last-child {
    border-radius: 0 5px 5px 0;
}

.page-link {
    text-decoration: none;
    font: 600 0.9vmax "Montserrat";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}
  
.page-item:hover {
    background-color: rgb(230, 230, 230);
}
  
.page-item:hover .page-link {
    color: rgb(0, 0, 0);
}
  
.pageItemActive {
    background-color: #DA0037;
}
  
.pageLinkActive {
    color: white;
}

.filterBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.priceFilterBox {
    width: 15vmax;
    position: absolute;
    text-align: center;
    top: calc(50%);
    right: -4vmax;
    transform: rotate(90deg);
}

.categoryFilterBox {
    position: absolute;
    left: 2vmax;
    text-align: left;
    top: calc(25%);
}

.categoryBox {
    padding: 0%;
}
  
.category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 600 0.8vmax "Montserrat";
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category-link:hover {
    color: tomato;
}

fieldset {
    position: absolute;
    left: 2vmax;
    text-align: left;
    top: calc(55%);
}

@media screen and (max-width: 600px) {
    .priceFilterBox {
        width: 15vmax;
        position: static;
        margin: auto;
        padding-top: 5vmax;
        transform: rotate(0deg);
    }

    .categoryFilterBox {
        position: static;
        margin: auto;
    }

    fieldset {
        position: static;
        margin: auto;
    }
}